body {
    font-size: 70%;
}

h3 {
    padding: 0;
    margin: 0;
    background-color: purple;
    color: white;
}

p {
    margin: 2px;
    padding: 0;
}

.top-screen {
  position: relative;
  min-height: 217px;
}

.Chat {
  position: absolute;
  bottom: 0;
  left: 0;
}

.keyboard {
	text-align: center;
}